/* styling footer section */
footer {
  p {
    span {
      color: var(--blue);
    }
  }
}

/* styling scroll to top button */
.scroll-btn {
  width: 45px;
  height: 45px;
  border: 1px solid var(--title);
  background-color: rgba(0, 106, 255, 0.7);
  color: var(--title);

  &:hover {
    background-color: var(--blue);
  }
}