.education {
  .education-head {
    .icon {
      color: var(--subTitle);
    }
  }

  .education-content {
    .education-images {
      img {
        width: 150px;

        &:hover {
          transform: translateY(-5px);
          -webkit-transform: translateY(-5px);
          -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          -o-transform: translateY(-5px);
        }
      }
    }
  }
}