/* variables of dark mode */
:root {
  --primary: #000;
  --secondary: #1a1a1a;
  --border: rgb(63, 63, 70, 0.4);
  --title: rgb(244, 244, 245);
  --subTitle: rgb(161, 161, 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --orange: orange;
  --cardBG: linear-gradient(rgba(0, 0, 0, 0.85), rgba(19, 19, 19, 0.921));
}

/* variables of light mode */
.light {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(240, 240, 240);
  --border: rgb(183, 183, 190, 0.4);
  --title: #000;
  --subTitle: #1a1a1a;
  --bgHeader: white;
  --blue: rgb(10, 140, 255);
  --orange: orange;
  --cardBG: linear-gradient(rgb(180, 180, 180), rgb(250, 250, 250));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s !important;
  -webkit-transition: .3s !important;
  -moz-transition: .3s !important;
  -ms-transition: .3s !important;
  -o-transition: .3s !important;
}

/* general stylings */
html {
  font-family: "Roboto", sans-serif;

  body {
    background-color: var(--primary);
    color: var(--title);

    .separator {
      margin: 3rem 0;
      border: 1px solid var(--border);
    }

    .container {
      background-color: var(--secondary);
      border: 2px solid var(--border);
    }
  }
}

/* styling scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary);
  border: 1px solid var(--blue);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}

